<style>
  	/* Removing Bounce Scrolliing */
  	:root, body { overscroll-behavior: none; }
  
  	/* Text Animation One Related */
	.text-mask { display: block; overflow: hidden; }
	.line { display: block; }
  	.ta-one-menu { white-space: normal; }
  
  	/* Menu Filters */
	.menu-filter-image.active { opacity: 1; }
  
	/* Button Navigation */
    .nav-button-menu, .nav-button-filter { transition: all 0.35s ease-in-out; }
    .nav-button-menu:hover, .nav-button-filter:hover { background-color: rgba(13, 27, 30, 0.70); }
    .menu-list > *:last-child { padding-bottom: 4rem; }
  
  	/* Nav: Tabs */
    .nav-work-item .headline-s, .nav-item-tabs .headline-xs { color: var(--colors--alternative); transition: all 0.35s ease-in-out; }
  
        /* Nav: Work */
        .nav-work-item .headline-s:hover, .nav-work-item.w--current .headline-s { color: var(--colors--bg-alternative); }
        .nav-work-item.w--current .tab-radio { border-width: 0px; background-color: var(--colors--bg-alternative); }
  	
        /* Nav: Info Details */
        .nav-item-tabs .headline-xs:hover, .nav-item-tabs.w--current .headline-xs { color: var(--colors--primary); }
        .nav-item-tabs.w--current .tab-radio { border-width: 0px; background-color: var(--colors--primary); }
  
  	/* Button Primary + Minimal */
    .button-primary:hover, .animate-underline, .button-minimal-darkmode:hover, .link-text, .minimal-animate-underline { transition: all 0.35s ease-in-out; }
    .button-primary:hover > .button-primary-inner .animate-underline, .button-minimal-darkmode:hover > .minimal-animate-underline { width: 100%; }
    .animate-underline, .minimal-animate-underline { width: 0%; }
    .button-minimal-darkmode:hover .link-text { color: var(--colors--background); }
  
  	/* Archive Filters */
    .filters-tab { transition: all 0.35s ease-in-out; }
	.filters-tab.active .radio-filters { border-width: 0px; background-color: var(--colors--primary); }
    .filters-tab:hover .body-s.disabled, .filters-tab.active .body-s.disabled { color: var(--colors--primary); }

  	/* Approach section */
    .section-approach {
      	max-width: none !important;
      	max-height: none !important;
    }
  
  	/* Infinite Gallery */
  	.infinite-gallery[data-animated="true"] { overflow: hidden; }
  	.infinite-gallery[data-animated="true"] .infinite-gallery-wrapper {
        width: max-content;
      	display: flex;
        flex-wrap: nowrap;
    }
  
  	.infinite-gallery-wrapper > * { flex: 0 0 auto; }
</style>